<% content_for :title, "Trang chủ" %>

<% if @hots.count > 0 %>
		<div class="ele-bottom-grid">
		<h3><span>Sản phẩm bán chạy</span></h3>
		<% @hots.each do |product| %>
		<div class="col-md-3 product-men">
		<%= image_tag "/assets/hot.gif",:style=>"position: absolute;height: 50px ;width: 80px; left: 0px; z-index: 1" %>
					<div class="men-pro-item simpleCart_shelfItem">
						<div class="men-thumb-item">
						<p><%= image_tag product.image.url(:medium), :class=>"pro-image-front", :style=>"width: 80%;height: auto" %></p>
								<p><%= image_tag product.image.url(:medium), :class=>"pro-image-back", :style=>"width: 80%;height: auto"%></p>
								<div class="men-cart-pro">
									<div class="inner-men-cart-pro">
											<td><%= link_to 'Chi tiết', product ,:class=>"link-product-add-cart"%></td>
									</div>
								</div>										
						</div>
						<div class="item-info-product ">
						<%= link_to product do %><h3 style="font-size:18px"><%= product.title %></h3><%end%>						
						<div class="info-product-price">
						<span class="item_price"><%= number_to_currency(product.price, unit: " VNĐ",format: "%n %u",:precision => 0) %></span>
							</div>
							<%= button_to 'Thêm vào giỏ hàng', line_items_path(:product_id => product),remote: true, :class=>"item_add single-item hvr-outline-out button2" %>
						</div>
					</div>
				</div>
		<% end %>
		</div>
				<div class="clearfix" style="background-color: #f7fdff"</div>
		</div>
<% end %>



<div class="ele-bottom-grid">
				<h3><span>Điện thoại</span></h3>
<% @products.each do |product| %>
						
<div class="col-md-2 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
							
								<div class="men-thumb-item">
								<p><%= image_tag product.image.url(:medium), :class=>"pro-image-front", :style=>"width: 100%;height: auto" %></p>
								<p><%= image_tag product.image.url(:medium), :class=>"pro-image-back", :style=>"width: 100%;height: auto"%></p>
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
											        <td><%= link_to 'Chi tiết', product ,:class=>"link-product-add-cart"%></td>
											</div>
										</div>										
								</div>
								<div class="item-info-product ">
								<%= link_to product do %><h3 style="font-size:20px"><%= product.title %></h3><%end%>						
								<div class="info-product-price">
								<span class="item_price"><%= number_to_currency(product.price, unit: " VNĐ",format: "%n %u",:precision => 0) %></span>
									</div>
									<%= button_to 'Thêm vào giỏ hàng', line_items_path(:product_id => product),remote: true, :class=>"item_add single-item hvr-outline-out button2" %>
								</div>
							</div>
						</div>
    <% end %>
				</div>
						<div class="clearfix"></div>
							<center><%= will_paginate @products %></center>
</div>
